.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--dark-text);
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-bottom: 94px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.page-header {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.site-nav__link {
  display: flex;
}

.site-nav__list:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0;
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__item:hover, .site-nav__item:focus {
  color: #2196F3;
}

.site-nav__item--current {
  color: #2196F3;
  position: relative;
}
.site-nav__item--current::after {
  content: "";
  box-sizing: border-box;
  display: block;
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.nav-contacts__list:not(:last-child) {
  margin-bottom: 10px;
}

.nav-contacts__item {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contacts__item:hover, .nav-contacts__item:focus {
  color: #2196F3;
}

.nav-contacts__icon-phone,
.nav-contacts__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .site-nav, .nav-contacts {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    padding: 21px 0;
  }
  .mob-menu__open-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 24px 0 25px 0;
  }
  .container-header {
    flex-direction: none;
    justify-content: left;
  }
  .site-nav {
    display: flex;
    margin-left: 93px;
  }
  .nav-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .nav-contacts__list:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .nav-contacts__item {
    font-size: 14px;
    line-height: 1.143;
  }
}
.site-nav__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.site-nav__logo-color {
  color: #000000;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-bottom: 20px;
  margin-right: 0;
  display: inline-block;
}

.footer__logo-color {
  color: #FFFFFF;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__address {
  width: 100%;
  margin-bottom: 60px;
}

.address {
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.mail,
.phone {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-conect {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.footer-conect__header {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-conect__list {
  display: flex;
  justify-content: center;
}

.footer-conect__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-conect__link:hover, .footer-conect__link:focus {
  background-color: #2196F3;
}

.footer-conect__icon {
  transition: color 250ms, background 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #FFFFFF;
}

.footer-conect__item:not(:last-child) {
  margin-right: 10px;
}

.send-form__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.send-form__btn {
  align-items: center;
  font-family: inherit;
  display: flex;
  box-shadow: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 10px 32px;
  margin-left: 12px;
  min-width: 200px;
  min-height: 50px;
  color: #FFFFFF;
  background-color: #2196F3;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.send-form__icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.send-form__input {
  width: 100%;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  color: #FFFFFF;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
  }
  .footer__address {
    width: 50%;
  }
  .footer-conect {
    width: 50%;
  }
  .send-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }
  .footer-desctop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }
  .footer__content {
    width: 600px;
    justify-content: flex-start;
    text-align: left;
  }
  .footer__address {
    width: 231px;
    margin-bottom: 0;
    margin-right: 70px;
  }
  .footer-conect {
    width: 206px;
    text-align: left;
  }
  .send-form {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin: 0;
    justify-content: flex-start;
    width: 570px;
    height: 86px;
  }
  .send-form__wraper {
    display: flex;
  }
  .send-form__input {
    display: flex;
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.hero {
  background-color: #2F303A;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  padding: 118px 0px;
  width: 100%;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg_mob@2x.jpg);
  }
}

.hero__discription {
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 32px;
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg_@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__discription {
    font-size: 44px;
    line-height: 1.36;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0, 0.99, 1, 0.99);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms, visibility 300ms;
  transition-timing-function: ease;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -150%);
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  padding: 40px;
  width: 448px;
  height: 511px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92), opacity 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  position: absolute;
  top: 8px;
  right: 8px;
  transition-property: transform, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover {
  transform: translate(-2%, -2%);
  cursor: pointer;
  color: #188CE8;
}

.modal__close-btn img {
  display: block;
  color: #000000;
}

.modal__close-icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  outline: none;
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 12px 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196F3;
}

.modal__comment {
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus {
  border-color: #2196F3;
}

.modal__input:focus + .modal__icon {
  fill: #2196F3;
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__item {
  color: #212121;
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus-within .modal__icon {
  fill: #2196F3;
}

.modal-privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal-privacy {
    margin-left: 12px;
  }
}

.modal-privacy:focus-within .modal-privacy__icon {
  border-color: #2196F3;
}

.modal-privacy__input:checked + .modal-privacy__text span {
  background-color: #2196F3;
  border-color: #2196F3;
  fill: #FFFFFF;
}

.modal-privacy__text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modal-privacy__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-privacy__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #757575;
  border-radius: 2px;
  margin-right: 5px;
  fill: transparent;
}

.modal-privacy__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-privacy__link:hover, .modal-privacy__link::focus {
  color: #188CE8;
  transform: translateY(-2px);
}

.modal__btn {
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.dignity {
  padding-top: 96px;
}

.dignity__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  min-width: 270px;
  min-height: 16px;
  text-align: center;
}

.dignity__description {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  min-width: 270px;
  min-height: 75px;
}

.dignity__icon {
  background-color: #F5F4FA;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .dignity__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .dignity__item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .dignity__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .dignity__list {
    flex-wrap: nowrap;
  }
  .dignity__item {
    width: calc(25% - 30px);
  }
}
@media screen and (max-width: 1199px) {
  .work {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .work__exaples {
    display: flex;
  }
  .work__exaples .work__item {
    position: relative;
  }
  .work__exaples .work__item:not(:last-child) {
    margin-right: 30px;
  }
  .work__overlay {
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 0;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
  }
}
.team {
  background-color: #F5F4FA;
  padding-top: 94px;
}

.team__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.team__member {
  display: block;
}

.team__discription {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__foto {
  width: 100%;
}

.team__item {
  padding: 30px 32px;
}

.team__item > img {
  display: block;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

.worker-conect {
  display: flex;
  justify-content: center;
}

.worker-conect__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms, background 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.worker-conect__link:hover, .worker-conect__link:focus {
  background-color: #2196F3;
}

.worker-conect__icon {
  fill: #afb1b8;
}

.worker-conect__link:hover .worker-conect__icon,
.worker-conect__link:focus .worker-conect__icon {
  fill: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .team__discription:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__member {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .team__discription {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    flex-wrap: nowrap;
  }
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .team__discription {
    width: calc(33.3333333333% - 30px);
  }
}
.clients {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .clients {
    padding-bottom: 94px;
  }
}

.clients__title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.client {
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition: color 250ms, border-color 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
  cursor: pointer;
}

.client__icon {
  fill: #757575;
}

@media screen and (min-width: 768px) {
  .client {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .clients-list {
    flex-wrap: nowrap;
  }
  .client {
    width: calc(16.6666666667% - 30px);
  }
  .client__link {
    padding: 16px 0;
  }
  .client + .client {
    margin-left: 30px;
  }
}
.mob-menu__open-btn {
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__open-btn:hover, .mob-menu__open-btn :focus {
  fill: #2196F3;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px 48px 40px;
  background-color: #FFFFFF;
  overflow-y: auto;
}
.mob-menu__bottom {
  padding-top: 30px;
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.mob-menu__list .link.mob-current {
  color: #2196F3;
}
.mob-menu__list .link.mob-current::after {
  color: #2196F3;
}

.mob-menu__close-btn {
  padding: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__close-btn:hover, .mob-menu__close-btn :focus {
  fill: #2196F3;
}

.mob-site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-site-nav__link:hover, .mob-site-nav__link :focus {
  color: #2196F3;
}

.mob-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-site-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-social {
  display: flex;
  padding-top: 64px;
}

.mob-social__list:not(:last-child) {
  margin-right: 20px;
}

.mob-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.no-scroll {
  overflow: hidden;
}

.mob-current {
  color: #2196F3;
}
.mob-current::after {
  color: #2196F3;
}

.portfolio {
  padding-top: 94px;
}

.portfolio__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio__button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition: color 250ms, background 200ms, box-shadow 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.portfolio__button--curent {
  background-color: #2196F3;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .portfolio__nav {
    padding-bottom: 15px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__nav {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
  }
}
.example {
  display: block;
  border: 1px;
  border-color: #EEEEEE;
  width: 100%;
}
.example:nth-child(-n+8) {
  margin-bottom: 30px;
}
.example:hover, .example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example__box {
  position: relative;
  overflow: hidden;
}

.example__overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  transform: translateY(100%);
  transition: transform 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
}

.example a:hover .example__overlay,
.example a:focus .example__overlay {
  transform: translateY(0);
}

.example__head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.example__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.example__img {
  display: block;
  width: 100%;
}

.example__text {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .portfolio__examples {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .example {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .example__text {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .example {
    width: calc(33.3333333333% - 30px);
  }
}/*# sourceMappingURL=main.css.map */