
.example {
    display: block;
    border: 1px;
    border-color: #EEEEEE;
    width: 100%;

    &:nth-child(-n + 8) {
        margin-bottom: 30px;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.example__box {
    position: relative;
    overflow: hidden;
}

.example__overlay {
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    color: $bg-main;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    position: absolute;
    transform: translateY(100%);
    transition: transform 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    top: 0;
    left: 0;
}

.example a:hover .example__overlay,
.example a:focus .example__overlay {
    transform: translateY(0);
}

.example__head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $dark-text;
    margin-bottom: 4px;
}

.example__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $text-main;
}


.example__img {
    display: block;
    width: 100%;
}

.example__text {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {

    .portfolio__examples {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }

    .example {
        width: calc(50% - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .example__text {
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 1200px) {
     
    .example {
        width: calc(100%/3 - 30px);
    }
}