.clients {
    padding-top: 60px;

    @media screen and (min-width: 768px) {
        padding-bottom: 94px;
      
    }
}

.clients__title {
    font-size: 28px;
    line-height: 1.17;
    font-weight: 700px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: $dark-text;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-left: -30px;
    margin-bottom: -30px;
}

.client {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 92px;
  
    color: $icon-fill;
  
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition: color 250ms, border-color 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $selection-color;
        border: 1px solid $selection-color;
        cursor: pointer;
    }
}
  
.client__icon {
    fill: $text-main;
}

@media screen and (min-width: 768px) {

    .client {
        width: calc(100%/3 - 30px);
    }
}

@media screen and (min-width: 1200px) {

    .clients-title {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
    
    .clients-list {
        flex-wrap: nowrap;
    }
    
    .client {
        width: calc(100%/6 - 30px);
    }
    
    .client__link {
        padding: 16px 0;
    }
    
    .client + .client {
        margin-left: 30px;
    }
}