.team {
    background-color: $bg-else;
    padding-top: 94px;
}

.team__title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.team__discription {
    background-color: $bg-main;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item {
    padding: 30px 32px;
}

.team__item > img {
    display: block;  
}
  

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-text;
    margin-bottom: 10px;
}

.team__post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: $text-main;
}

.worker-conect{
    display: flex;
    justify-content: space-between;
}

.worker-conect__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color 250ms, background 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $selection-color;
    }
}

.worker-conect__icon {
    fill: $icon-fill;
}

.worker-conect__link:hover .worker-conect__icon,
.worker-conect__link:focus .worker-conect__icon {
    fill: $bg-main;
}



@media screen and (max-width: 767px) {
    .team__discription:not(:last-child) {
    margin-bottom: 30px;
    }  
}

@media screen and (min-width: 768px) {

    .team__member {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }
    .team__discription {
        width: calc(50% - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
    }
}


@media screen and (min-width: 1200px) {

     .team__member {
    flex-wrap: nowrap;
   }
    .team__title {
        font-size: 36px;
        margin-bottom: 50px;
    }
    .team__discription {
        width: calc(100%/3 - 30px);
    }
}
