.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    
    background-color: $bg-dark;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__address {
    width: 100%;
    margin-bottom: 60px;
}

.address {
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $bg-main;
}

.mail,
.phone {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-conect {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
}

.footer-conect__header {
    color: $bg-main;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
    padding-top: 12px;
}

.footer-conect__list{
    display: flex;
    justify-content: center;
}

.footer-conect__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $selection-color;
    }
}

.footer-conect__icon {
    transition: color 250ms, background 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: $bg-main;
}

.footer-conect__item:not(:last-child) {
    margin-right: 10px;
}
   
.send-form__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: $bg-main;
}
   
.send-form__btn {
    display: flex;
    align-items: center;
    font-family: inherit;
    box-sizing: border-box;
    box-shadow: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 10px 32px;
    margin-left: 12px;
    min-width: 200px;
    min-height: 50px;
  
    color: $bg-main;
    background-color: $selection-color;
   
    border: 1px solid transparent;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.send-form__icon {
    margin-left: 10px;
    fill: $bg-main;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.send-form__input {
    width: 100%;
    height: 50px;
    background-color: inherit;
   
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    color: $bg-main;
    align-items: center;
}

@media screen and (min-width: 768) {

    .footer__content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    .footer__address {
        width: 50%;
    }

    .footer-conect {
        width: 50%;
    }

    .send-form {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    
    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
    }

    .footer-desctop {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
    }

    
    .footer__content{
        width: 600px;
        justify-content: flex-start;
        text-align: left;
    }

    .footer__address{
        width: 231px;
        margin-bottom: 0;
        margin-right: 70px;   
    }

    .footer-conect {
        width: 206px;
        text-align: left;
    }
    
    .send-form {
        flex-wrap: wrap;
        flex-direction: row;
        text-align: left;
        align-items: center;
        margin: 0;
        justify-content: flex-start;
        width: 570px;
        height: 86px;
    }

    .send-form__wraper {
        display: flex;
    }
    
    .send-form__input {
        display: flex;
        width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
    }
}