.site-nav__logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $selection-color;
}

.site-nav__logo-color {
    color: $dark-logo;
}




.footer__logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $selection-color;
    margin-bottom: 20px;
    margin-right: 0;
    display: inline-block;
}

.footer__logo-color {
    color: $bg-main;
}